{% extends "base.html" %}

{% load google_vis %}

{% block header %}
    {% vis_header room_name %}
{% endblock %}

{% block content %}
    <div style="width: 1200px; margin: auto;">
      <div style="width: 1000px; float: left; position: relative;">
        <div id="temp_chart" class="col-half"></div>
        <div id="humid_chart" class="col-half"></div>
        <div id="light_chart" class="col-half"></div>
        <div id="press_chart" class="col-half"></div>
      </div>
    </div>


{% endblock %}